<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administración</title>
</head>
<body>
    <h1>Panel de Administración</h1>
    <p>Bienvenido al área administrativa. Aquí puedes gestionar las mascotas y usuarios.</p>
    <ul>
        <li><a href="/admin/">Ir al panel principal de Django Admin</a></li>
    </ul>
     <p>Agrega mascotas</p>
    <a href="{% url 'agregar_mascota' %}">Agregar Mascota</a>
     <p></p>
    <a href="/">Regresar al inicio</a>
    <a href="{% url 'logout' %}">Cerrar Sesión</a>

</body>
</html>
