<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Registrar Mascota</title>
</head>
<body>
    <h1>Registrar Mascota</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Datos del Propietario</h2>
        {{ propietario_form.as_p }}

        <h2>Datos de la Mascota</h2>
        {{ mascota_form.as_p }}

        <button type="submit">Registrar</button>
    </form>
</body>
</html>






